@import "../../styles/constants.scss";
@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

.chat-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    i {
        color: $col-primary-dark;
    }
}

.text-input {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
    margin-top: 0.5rem;
    flex: 1;

    box-sizing: border-box;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid $col-gray-light;
    padding-left: 1rem;

    @include primary-font;
    font-size: 1rem;

    outline: none;
    &:focus {
        border-color: $col-primary-dark;
    }
}
