@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

.logo {
    @include logo-font;
    font-weight: bold;
    color: $col-primary-dark;
    font-size: 2rem;

    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
        margin: 0;
        padding: 0;
        padding-left: 0.5rem;
        font-size: 2rem;
    }
}

.center {
    justify-content: center;
}
