@import "../../styles/colors.scss";

.button {
    display: inline-block;
    padding: 0.3rem 1rem;
    background-color: $col-primary-main;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-family: "Nunito", sans-serif;

    &:focus,
    &:active,
    &:hover {
        background-color: $col-primary-dark;
    }
}

.secondary {
    background-color: $col-secondary-main;
    &:focus,
    &:active,
    &:hover {
        background-color: $col-secondary-dark;
    }
}
