@import "../../styles/colors.scss";

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .avatar {
        padding-right: 1rem;

        &.other {
            padding-right: 0;
            padding-left: 1rem;
        }
    }

}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1rem;
}

.name {
    margin-right: 1rem;
    color: $col-gray-medium;

    align-self: flex-start;
    margin-left: 1rem;
}

.time {
    font-size: 0.7rem;
    color: $col-gray-light;
    align-self: flex-end;
    margin-right: 1rem;

    &.other {
        align-self: flex-start;
        margin-left: 1rem;
    }
}
